.container {
    display: grid;
    grid-template-areas: 
    "textoUno textoUno textoUno textoDos"
    "textoCuatro textoCinco textoCinco textoDos"
    "textoCuatro textoCinco textoCinco textoDos"
    "textoCuatro textoTres textoTres textoTres";
    gap: 1rem;

}

.textoUno {
    grid-area: textoUno;
}
.textoDos {
    grid-area: textoDos;
}
.textoTres {
    grid-area: textoTres;
}
.textoCuatro {
    grid-area: textoCuatro;
}
.textoCinco {
    grid-area: textoCinco;
}